<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <!--Sidebar content-->
            <div class="sidebar-module jumbotron">
                <h4>Documents</h4>
                <ol class="list-unstyled" ng-repeat="meta in vm.notationsEntries">
                    <li><a href="#">{{meta.user_firstname}} {{meta.user_lastname}}</a></li>
                </ol>
            </div>
            <div class="sidebar-module jumbotron">
                <h4>Meta</h4>
                <ol class="list-unstyled" ng-repeat="meta in vm.notationsEntries">
                    <li><a href="#">{{meta.comment}}</a></li>
                </ol>
            </div>
        </div>
        <div class="col-md-9">
            <!--Body content-->

            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Document 1</a></li>
                <li role="presentation"><a href="#">Document 2</a></li>
                <li role="presentation"><a href="#">Document 3</a></li>
            </ul>

        </div>
    </div>
</div>