<div class="modal-header">
    <h3 class="modal-title">Annotator editor</h3>
</div>

<div class="modal-body fragmentEditor">
    <form class="form-inline">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <input style="width:100% !important;" type="text" name="subject" class="form-control"
                       value="{{fragmentText.selection}}"
                       ng-model="inputSubject"
                       tooltip="Fragment selected."
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       readonly>
                <span class="help-block">Fragment selection.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{annotationTypeLiteral}} <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="(key, docP) in documentProperties"><a data-type="{{key}}" ng-click="selectType(key)" href>{{docP}}</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                    <input type="text" name="annotationType" class="form-control" placeholder="Chose an annotaion type"
                           ng-model="inputAnnotationType"
                           tooltip="Choose an annotation type for the document."
                           tooltip-placement="top"
                           tooltip-trigger="mouseenter"
                           value="{{key}}">
                </div><!-- /input-group -->
                <span class="help-block">Annotaion type associated to the document.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <textarea ng-if="type === 'a'" ui-tinymce="tinymceOptions" ng-model="fragmentModel" name="author" class="form-control" rows="3"></textarea>

                <div ng-if="type === 'hasDOI'" class="input-group">
                    <input  type="text" class="form-control"
                            ng-model="inputDOI"
                            tooltip="Typein a valid doi"
                            tooltip-placement="top"
                            tooltip-trigger="mouseenter"
                            required
                            placeholder="Type in a valid DOI">
                    <span class="input-group-addon">DOI</span>
                </div>

                <div ng-if="type === 'hasAuthor'" class="input-group">
                    <input  type="text" class="form-control"
                            ng-model="inputAuthor"
                            tooltip="Typein a valid author name"
                            tooltip-placement="top"
                            tooltip-trigger="mouseenter"
                            required
                            placeholder="Type in a valid author name">
                    <span class="input-group-addon">Author name</span>
                </div>

                <div ng-if="type === 'hasPublicationYear'" class="input-group">
                    <input  type="text" class="form-control"
                            ng-model="inputPublicationYear"
                            tooltip="Typein a valid date ore choose one from wizard"
                            tooltip-placement="top"
                            tooltip-trigger="mouseenter"
                            required
                            placeholder="Typein a valid date ore choose one from wizard">
                    <span class="input-group-addon">Document date</span>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>