<div ng-if="!switchLoginView">
    <div class="modal-header">
        <button class="btn btn-warning pull-right" ng-click="cancel()">Close</button>
        <h3 class="modal-title">Annotator editor</h3>
        <small ng-if="!logInStatus" style="color: red;">If you want edit this annotations you must logged in</small>
    </div>

    <div class="modal-body">
        <form class="form-horizontal" novalidate>
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-12">
                    <uib-tabset justified="true">
                        <uib-tab>
                            <uib-tab-heading>
                                Author <span class="badge">{{(rowCollection.author).length}}</span>
                            </uib-tab-heading>
                            <table st-table="rowCollection" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Author</th>
                                    <th>Modify</th>
                                    <th>Save</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="row in rowCollection.author">
                                    <td>{{row.fragment}}</td>
                                    <td>
                                        <button type="button" ng-click="edit(row, 'author')" class="btn btn-sm btn-info"> 
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="save(row, 'author')" class="btn btn-sm btn-info">
                                            <i class="glyphicon glyphicon-save"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="removeRow(row, 'author')" class="btn btn-sm btn-danger">
                                            <i class="glyphicon glyphicon-remove-circle"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                Comment <span class="badge">{{(rowCollection.comment).length}}</span>
                            </uib-tab-heading>
                            <table st-table="rowCollection" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Comment</th>
                                    <th>Modify</th>
                                    <th>Save</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="row in rowCollection.comment">
                                    <td>{{row.fragment}}</td>
                                    <td>
                                        <button type="button" ng-click="edit(row, 'comment')" class="btn btn-sm btn-info">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="save(row, 'comment')" class="btn btn-sm btn-info">
                                            <i class="glyphicon glyphicon-save"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="removeRow(row, 'comment')" class="btn btn-sm btn-danger">
                                            <i class="glyphicon glyphicon-remove-circle"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                Publication year <span class="badge">{{(rowCollection.date).length}}</span>
                            </uib-tab-heading>
                            <table st-table="rowCollection" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Modify</th>
                                    <th>Save</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="row in rowCollection.date">
                                    <td>{{row.fragment}}</td>
                                    <td>
                                        <button type="button" ng-click="edit(row.date, 'date')" class="btn btn-sm btn-info">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="save(row.date, 'date')" class="btn btn-sm btn-info">
                                            <i class="glyphicon glyphicon-save"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="removeRow(row.date, 'date')" class="btn btn-sm btn-danger">
                                            <i class="glyphicon glyphicon-remove-circle"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                References <span class="badge">{{(rowCollection.references).length}}</span>
                            </uib-tab-heading>
                            <table st-table="rowCollection" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>References</th>
                                    <th>Modify</th>
                                    <th>Save</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="row in rowCollection.references">
                                    <td>{{row.fragment}}</td>
                                    <td>
                                        <button type="button" ng-click="edit(row, 'reference')" class="btn btn-sm btn-info">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="save(row, 'reference')" class="btn btn-sm btn-info">
                                            <i class="glyphicon glyphicon-save"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="removeRow(row, 'reference')" class="btn btn-sm btn-danger">
                                            <i class="glyphicon glyphicon-remove-circle"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                Title <span class="badge">{{(rowCollection.title).length}}</span>
                            </uib-tab-heading>
                            <table st-table="rowCollection" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Modify</th>
                                    <th>Save</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="row in rowCollection.title">
                                    <td>{{row.fragment}}</td>
                                    <td>
                                        <button type="button" ng-click="edit(row.title, 'title')" class="btn btn-sm btn-info">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="save(row.title, 'title')" class="btn btn-sm btn-info">
                                            <i class="glyphicon glyphicon-save"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="removeRow(row.title, 'title')" class="btn btn-sm btn-danger">
                                            <i class="glyphicon glyphicon-remove-circle"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                URL <span class="badge">{{(rowCollection.url).length}}</span>
                            </uib-tab-heading>
                            <table st-table="rowCollection" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>URL</th>
                                    <th>Modify</th>
                                    <th>Save</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="row in rowCollection.url">
                                    <td>{{row.fragment}}</td>
                                    <td>
                                        <button type="button" ng-click="edit(row, 'url')" class="btn btn-sm btn-info">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="save(row, 'url')" class="btn btn-sm btn-info">
                                            <i class="glyphicon glyphicon-save"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="removeRow(row, 'url')" class="btn btn-sm btn-danger">
                                            <i class="glyphicon glyphicon-remove-circle"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                DOI <span class="badge">{{(rowCollection.doi).lenght}}</span>
                            </uib-tab-heading>
                            <table st-table="rowCollection" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>DOI</th>
                                    <th>Modify</th>
                                    <th>Save</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="row in rowCollection.doi">
                                    <td>{{row.fragment}}</td>
                                    <td>
                                        <button type="button" ng-click="edit(row.doi, 'doi')" class="btn btn-sm btn-info">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="save(row.doi, 'doi')" class="btn btn-sm btn-info">
                                            <i class="glyphicon glyphicon-save"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="removeRow(row.doi, 'doi')" class="btn btn-sm btn-danger">
                                            <i class="glyphicon glyphicon-remove-circle"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-click="saveAll(rowCollection)">Save all</button>
                <button type="submit" class="btn btn-danger" ng-click="removeAll(rowCollection)">Remove all</button>
            </div>
        </form>
    </div>
</div>
<div ng-if="switchLoginView">
    <div ng-include src="'/app/partials/modals/userLoginModal.html'"></div>
</div>