<div class="container-fluid">
    <div class="row" ng-controller="WidgetDocumentsList as vm">
        <div lateral-menu class="lateral-menu menu-close">
            <div class="menu-hilighter"><span class="glyphicon glyphicon-chevron-right"></span></div>
            <!--Sidebar content-->
            <div class="sidebar-module jumbotron">
                <h4>Documents</h4>
                <ol class="list-unstyled" ng-repeat="documents in vm.documentEntries">
                    <li><a  href=""
                            insert-tab="{documents: { title: documents.label, link: documents.link, from: documents.from, first: $first}}">
                        {{documents.label}}
                    </a>
                    </li>
                </ol>
            </div>
            <div class="sidebar-module jumbotron" ng-controller="WidgetMeta as vm">
                <h4>Meta</h4>
                <ol class="list-unstyled" ng-repeat="meta in vm.metaEntries">
                    <li><a href ng-click="open()">{{meta.comment}}</a></li>
                </ol>
            </div>
        </div>
        <div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 col-lg-11 col-lg-offset-1">
            <!--Body content-->
            <tabset>
                <tab ng-repeat="documentLoaded in documentsLoaded" heading="{{documentLoaded.title}}" active="documentLoaded.active" disable="documentLoaded.disabled">
                    <div class="panel panel-default no-border">
                        <div class="panel-body table-responsive">
                            <table ng-bind-html="documentLoaded.content | unsafe" class="table"></table>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>