<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <!--Sidebar content-->
            <div class="sidebar-module jumbotron" ng-controller="WidgetDocumentsList as vm">
                <h4>Documents</h4>
                <ol class="list-unstyled" ng-repeat="documents in vm.documentEntries">
                    <li><a href  insert-tab="{position: { my: 'left center'}}">{{documents.user_firstname}} {{documents.user_lastname}}</a></li>
                </ol>
            </div>
            <div class="sidebar-module jumbotron" ng-controller="WidgetMeta as vm">
                <h4>Meta</h4>
                <ol class="list-unstyled" ng-repeat="meta in vm.metaEntries">
                    <li><a href ng-click="open()">{{meta.comment}}</a></li>
                </ol>
            </div>
        </div>
        <div class="col-md-9">
            <!--Body content-->

            <ul id="mainDocArea" class="nav nav-tabs"></ul>

        </div>
    </div>
</div>